body, html {
    width:99.5%;
}


	#rectangle_base{
/* height:355px; */

	margin-top: 25px;
	margin-left: 80px;
	width:10px;
	height:265px;
	background:#32A93C;
}

	#rectangle_fleche{
	/*top: -363px;*/
	position: relative;
	top: -273px;
	display: inline-block;
	width:190px;
	height:10px;
	background:#32A93C;
}

	#arrow_box{
	position: relative;
	top: -269.5px;
	left: -5px;
	display: inline-block;
	clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
	width: 28px;
	height: 17px;
	background-color: #32A93C
}

#rectangle_fleche2{
	position: relative;
	top: -160px;
	width:80px;
	height:10px;
	background:#32A93C;
}

#rectangle_fleche3{
	position: relative;
	top: -44px;
	width:80px;
	height:10px;
	background:#32A93C;
}


/* FLECHE DEUX */


#rectangle_vertical1{
	display: inline-block;
	margin-left: 20px;
	height:50px;
	background:green;
}

	#rectangle_vertical2{
	display: inline-block;
	text-align: center;
	width:10px;
	height:50px;
	background:#C31111;
}

#rectangle_horizontal1{
	display: inline-block;
	position: relative;
	top: -15px;
	width:120px;
	height:10px;
	background:green;
}

#rectangle_horizontal2{
	display: inline-block;
	position: relative;
	margin-left: 150px;
	top: -40px;
	left: -35px;
	width:113px;
	height:10px;
	background:#C31111;
}

#rectangle_vertical3{
	position: relative;
	top: -46px;
	left: 105px;
	margin-left: 0px;
	width:10px;
	height:50px;
	background:green;
}


#arrow_box2{
	position: relative;
	top: -50px;
	left: 101px;
	display: inline-block;
	clip-path: polygon(80% 0, 80% 60%, 100% 60%, 50% 100%, 0 60%, 20% 60%, 20% 0);
	width: 16.5px;
	height: 16.5px;
	background-color: green
}
